@media (min-width: 576px) {

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

.ca-p {
  visibility: hidden;
}
.carousel-item {
  height: 200px; /*Acortamos altura carousel*/
}
	
}